@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../../storage/framework/views/*.php";
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

@theme {
    --font-sans: 'Cairo', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-zinc-800);
    --color-accent-content: var(--color-zinc-800);
    --color-accent-foreground: var(--color-white);
}
@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-zinc-800);
    }
}
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }

}

@plugin "daisyui" {
    themes: light --default ,dark --prefersdark;
}
@custom-variant dark (&:where(.dark, .dark *));

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}
.mary-table-pagination button {
    @apply cursor-pointer
}

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}
.mary-table-pagination button {
    @apply cursor-pointer
}
/* Theme toggle */
.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}